amqp==5.3.1
asgiref==3.9.1
billiard==4.2.1
celery==5.5.3
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
Django==5.2.5
django-redis==6.0.0
django-widget-tweaks==1.5.0
factory_boy==3.3.3
Faker==37.6.0
flower==2.0.1
humanize==4.13.0
inflection==0.5.1
iniconfig==2.1.0
kombu==5.5.4
packaging==25.0
pluggy==1.6.0
prometheus_client==0.22.1
prompt_toolkit==3.0.51
Pygments==2.19.2
pytest==8.4.1
wcwidth==0.2.13
